@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*=========Header Section=========*/
nav.desktop{display:block;}
nav.desktop .container-fluid{}
nav.desktop .container-fluid .collapse.navbar-collapse:nth-child(2){flex: 1;}
nav.desktop .container-fluid .collapse.navbar-collapse{flex: 3;}
nav.desktop .container-fluid .collapse.navbar-collapse a.navbar-brand{margin: auto;text-align: center;}

nav.desktop.bg-light {background-color: #fff !important;}
nav.desktop.navbar-light .navbar-nav .active>.nav-link{color: #ec3561;}
nav.desktop.navbar-light .navbar-toggler-icon{background:none;display: flex;justify-content: center;align-items: center;color: #ec3561;}
nav.desktop.navbar-light .navbar-toggler {padding: .25rem .55rem;}
nav.desktop.navbar .navbar-nav a {color: #333;font-size: 14px;font-weight: 600;margin: 0 7px;}
nav.desktop.navbar .navbar-nav ul.list-inline{margin-left: 20px;}
nav.desktop.navbar .navbar-nav ul.list-inline li{margin:0;}
nav.desktop.navbar .navbar-nav ul.list-inline li a{margin:0;}
nav.desktop.navbar-light .navbar-brand img {width: 60%;}
nav.desktop a.btn.btn-unique.btn-ssq {padding: 5px 20px !important;color: #fff;border-radius: 38px;font-weight: 300;background-color: #ec3561;}
nav.desktop a.btn.btn-unique.btn-ssq.white {background: #fff;color: #333;border: 1px solid #dadada;}
nav.desktop ul.list-inline{text-align:center;}
nav.mobile{display:none;}

/*Small Desktop*/
@media only screen and (max-width:1024PX){
  nav.desktop.navbar .navbar-nav a {color: #333;font-size: 12px;font-weight: 600;margin: 0 5px;}
}

@media only screen and (max-width:767px){
  nav.mobile{display:block;}
  nav.mobile.bg-light {background-color: #fff !important;}
  nav.mobile.navbar-light .navbar-nav .active>.nav-link{color: #ec3561;}
  nav.mobile.navbar-light .navbar-toggler-icon{background:none;display: flex;justify-content: center;align-items: center;color: #ec3561;}
  nav.mobile.navbar-light .navbar-toggler {padding: .25rem .55rem;}
  nav.mobile.navbar .navbar-nav a {color: #333;}
  nav.mobile.navbar-light .navbar-brand img {width: 60%;}
  nav.mobile a.btn.btn-unique.btn-ssq {padding: 5px 20px !important;color: #fff;border-radius: 38px;font-weight: 300;background-color: #ec3561;}
  nav.mobile a.btn.btn-unique.btn-ssq.white {background: #fff;color: #333;border: 1px solid #dadada;}
  nav.mobile ul.list-inline{text-align:center;}
}
/* =============== iPad 3, 4 and Pro 9.7" ============ */
  /* Portrait */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
      nav.mobile{display:block;}
      nav.mobile.bg-light {background-color: #fff !important;}
      nav.mobile.navbar-light .navbar-nav .active>.nav-link{color: #ec3561;}
      nav.mobile.navbar-light .navbar-toggler-icon{background:none;display: flex;justify-content: center;align-items: center;color: #ec3561;}
      nav.mobile.navbar-light .navbar-toggler {padding: .25rem .55rem;}
      nav.mobile.navbar .navbar-nav a {color: #333;}
      nav.mobile.navbar-light .navbar-brand img {width: 60%;}
      nav.mobile a.btn.btn-unique.btn-ssq {padding: 5px 20px !important;color: #fff;border-radius: 38px;font-weight: 300;background-color: #ec3561;}
      nav.mobile a.btn.btn-unique.btn-ssq.white {background: #fff;color: #333;border: 1px solid #dadada;}
  }

  /* Landscape */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
      nav.desktop{display:none;}
      nav.mobile{display:block;}
      nav.mobile.bg-light {background-color: #fff !important;}
      nav.mobile.navbar-light .navbar-nav .active>.nav-link{color: #ec3561;}
      nav.mobile.navbar-light .navbar-toggler-icon{background:none;display: flex;justify-content: center;align-items: center;color: #ec3561;}
      nav.mobile.navbar-light .navbar-toggler {padding: .25rem .55rem;}
      nav.mobile.navbar .navbar-nav a {color: #333;}
      nav.mobile.navbar-light .navbar-brand img {width: 60%;}
      nav.mobile.navbar .navbar-nav ul.list-inline {margin-left: 20px;  }
      nav.mobile a.btn.btn-unique.btn-ssq {padding: 5px 20px !important;color: #fff;border-radius: 38px;font-weight: 300;background-color: #ec3561;}
      nav.mobile a.btn.btn-unique.btn-ssq.white {background: #fff;color: #333;border: 1px solid #dadada;}
  }


/*=========Footer Section=========*/
#footerSec{padding:0px 0px 80px;border-top: 1px solid #ebeef0;}
#footerSec .footer-top {padding: 35px 0;}
#footerSec .footer-top img{width:16%;}
#footerSec .footer-top .ft-data {display: flex;align-items: center;}
#footerSec .footer-top .ft-data p {width: 50%;color: #000;font-size: 13px;font-weight: 700;margin: 0;}
#footerSec .footer-top .ft-data > p:last-child {text-align: right;}
#footerSec .footer-top .ft-data p span{color: #ef247b;font-size: 20px;font-weight: 500;}
#footerSec .footer-bottom {padding: 0 0 25px;}
#footerSec .footer-bottom h6{font-weight: 400;}
#footerSec .footer-bottom p {font-size: 14px;color: #7d7d7d;}
#footerSec .footer-bottom ul {padding: 0;font-size: 14px;color: #7d7d7d;list-style: none;line-height: 28px;}
#footerSec .footer-bottom .newsletter .input-group{}
#footerSec .footer-bottom .newsletter .input-group input::placeholder{color: #ced4da;}
#footerSec .footer-bottom .newsletter .input-group input{border-top-left-radius: 38px;  border-bottom-left-radius: 38px;}
#footerSec .footer-bottom .newsletter .input-group>.input-group-append>.btn{border-top-right-radius: 38px;  border-bottom-right-radius: 38px;background: #ef247b;color: #fff;border: 0;padding: .375rem 1.75rem;text-transform: uppercase;}
#footerSec .footer-copy {padding: 30px 0;border-top: 1px solid #ebeef0;}
#footerSec .footer-copy .foot-link-lang{}
#footerSec .footer-copy ul.footercopylink {list-style: none; padding: 0;}
#footerSec .footer-copy ul.footercopylink li{float: left; margin-right: 40px;}
#footerSec .footer-copy ul.footercopylink li a{color:#000;text-decoration:none;    font-size: 14px;}
#footerSec .footer-copy .language {display: flex;align-items: center;justify-content: flex-end;}
#footerSec .footer-copy .language p {margin: 0;text-transform: uppercase;font-size: 13px;}
#footerSec .footer-copy .language .fancy-select {margin: 0;}
#footerSec .footer-copy div.fancy-select div.trigger,
#footerSec .footer-copy div.fancy-select select:focus + div.trigger,
#footerSec .footer-copy div.fancy-select div.trigger.open {background: none;border: 0;box-shadow: none;padding: 0 24px 0px 5px;width:auto;font-weight: normal;}
#footerSec .footer-copy div.fancy-select div.trigger:after {border-top-color: #ced4da;top: 7px;}
#footerSec .footer-copy-bottom .copyright {display: flex;align-items: center;justify-content: flex-end;padding: 20px 0px;font-size: 15px}
#footerSec .footer-copy-bottom .copyright p{margin:0;margin-right: auto;    color: #b9b9b9;}
#footerSec .footer-copy-bottom .copyright p a{color:#ef247b;}
#footerSec .footer-copy-bottom .copyright p a:hover{color:#ef247b;}
#footerSec .footer-copy-bottom .copyright a{text-decoration: none;  }
#footerSec .footer-copy-bottom .copyright a .fa-circle {color: #f2f8fb;}
#footerSec .footer-copy-bottom .copyright a .fa-stack-1x{color:#999;font-size: 17px;}
#footerSec .footer-copy-bottom .copyright a:hover .fa-circle { color:#ffffff;border: 1px solid #999; border-radius: 100%;line-height: 40px;}

@media only screen and (max-width:768px){
  #footerSec {padding: 0px 0px 20px;}
  #footerSec .footer-copy ul.footercopylink {display: flex;flex-direction: column;}
  #footerSec .footer-copy .language{justify-content: flex-start;}
  #footerSec .footer-copy-bottom .copyright {flex-direction: column;text-align: center;padding: 20px 10px;}
  #footerSec .footer-copy-bottom .copyright .footicon {margin-top: 20px;}
  #footerSec .footer-top .ft-data p span {font-size: 15px;}
  #footerSec .footer-top .ft-data p {font-size: 10px;}
  #footerSec .footer-top img {width: 35%;margin-bottom: 25px;}
  #footerSec .footer-top .col-md-7 {text-align: center;}
}